.body {
    font-size: 16px;
	font-family: 'Roboto';
    color: #515151;
    background-color:#495057;
    
}

.form {
	border-radius:4px;
	background-color:#f8f9fa;
	margin:8px 0;
	display:inline-block;
    padding: 2rem;
    

}

.title {
    display:flex;
	justify-content:space-between

}

.titulo {
    display:flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;

}

.asd {
    display:flex;

}
.strong {
    margin-right: 1rem;
    color: #0077b6
}

.campos {
    color: #495057;
}

.select {
    background: transparent;
   border-style:inherit;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 80px;
   color: #0077b6;
   
}

.flex {
    display:flex;
    align-items: center;
}

.nombre
{
    font-weight:bold ;
    
}

.input-style {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5bd;
    padding: .2rem;
   
    
    color: #495057;
    margin-left: 1rem;
}

.flex-email {
    display:flex;
    align-items: center;
}



.email {
    font-weight:bold ;
    min-width: 66px;
}

.input-class  {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5b7;
    padding: .2rem;
   
    
    color: #495057;
    margin-left: 1rem;
    width: 44%;


}

.fecha-nacimiento {
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.fecha-div {
    font-weight:bold ;
    min-width: 66px;
    
}

.date-time {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5b7;
    padding: .2rem;
   
    
    color: #495057;
    margin-left: 1rem;
    

}
.nacimiento{
    display: flex;
    align-items: center;
}

.edad {
    color: #495057;
    
}

.contraseña {
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.contraseña-titulo {
    font-weight:bold ;
    min-width: 66px;

}
  
.password {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5bd;
    padding: .2rem;
   
    
    color: #495057;
    margin-left: 1rem;

}

.tuenti {
    color: #0077b6
    
}
   
.numero {
    display:flex;
    align-items: center;
   
}

.numero-movil {
    font-weight:bold ;
    min-width: 66px;

}
.tel {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5bd;
    padding: .2rem;
    margin-left: 1rem;
   

}

.otra-celda {
    background: transparent;
    border-radius: 5px;
    border: 0;
    border:1px solid #adb5bd;
    padding: .2rem;
    margin-left: .5rem;

}

.button {
    padding: .8rem;
    border-radius: 4px;
    border: 0;
    color: honeydew;
    background: #0077b6;
   
    
}